.panel {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 10px;

  &__caps {
    padding-right: 15px;
  }

  &__caps-led {
    display: inline-block;
    width: 15px;
    height: 15px;
    margin: 0 5px;
    vertical-align: middle;
    border-radius: 50%;
    background-color: lightgray;

    &--active {
      background-color: #f0c760;
    }
  }
}