.panel {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 10px;
  width: 100%;

  &__caps {
    padding-right: 15px;
  }

  &__caps-led {
    display: inline-block;
    margin: 0 5px;
    border-radius: 50%;
    background-color: lightgray;
    width: 15px;
    height: 15px;
    vertical-align: middle;

    &--active {
      background-color: #f0c760;
    }
  }

  &__lang-led {
    margin: 0 5px;
    color: #f0c760; 
  }

  &__instruction {
    flex-grow: 1;
    text-align: right;
  }
}