.key {
  --key__size: 50px;
  --key__color: #f0f0f0;
  --key__background: #3c3c3c;

  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
  border-radius: 14px;
  background-color: var(--key__background);
  cursor: pointer;
  width: var(--key__size);
  height: var(--key__size);
  line-height: var(--key__size);
  color: var(--key__color);

  &:first-child {
    margin-left: 0;
  }

  &__name {
    padding: 0 5px;
    font-size: 18px;
  }

  &__up {
    vertical-align: super;
    font-size: 0.7em;
  }
  
  &--control &__name {
    font-size: 16px;
  }

  &--shift &__name {
    font-size: 0.7em;
  }

  &--shift &__up {
    font-size: 18px;
  }

  &--backspace {
    width: 120px;
  }

  &--tab {
    width: 60px;
  }

  &--capslock {
    width: 100px;
  }

  &--enter {
    width: 140px;
  }

  &--shiftleft {
    width: 120px;
  }

  &--shiftleft &__name::first-letter {
    font-size: 20px;
    padding-right: 5px;
  }

  &--controlleft {
    width: 70px;
  }

  &--space {
    width: 400px;
  }
}